<div class="container">
    <div class="login-form">
        <div class="login">
            <h3>Login</h3>
        </div>
        <form [formGroup]="form">
            <input type="text" placeholder="Username" formControlName="username">
            <input type="password" placeholder="Password" formControlName="password">
            <div class="btn" (click)="toList()">Log in</div>
        </form>
    </div>


</div>
<!----
<video autoplay muted loop >
    <source src="assets/video2.mp4">
</video>
-->