<div class="container">
    <h2>Emergencies <small>Check</small></h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Id</div>
            <div class="col col-2">Injured Name</div>
            <div class="col col-3">Type </div>
            <div class="col col-4">Time</div>
            <div class="col col-5">Location </div>
            <div class="col col-6">Resolved </div>

        </li>
        <li class="table-row" (click)="openTempDialog()">
            <div class="col col-1" data-label="Id">1</div>
            <div class="col col-2" data-label="Injured Name">John Doe</div>
            <div class="col col-3" data-label="Type">ambulance</div>
            <div class="col col-4" data-label="Time">12:00</div>
            <a routerLink="/">
                <div class="col col-5" data-label="Location">36.860307, 10.198929</div>
            </a>
            <div class="col col-6"><input type="checkbox" name="Resolved"></div>
        </li>
        <li class="table-row">
            <div class="col col-1" data-label="Id">2</div>
            <div class="col col-2" data-label="Injured Name">Yassine Meriah</div>
            <div class="col col-3" data-label="Type">Police</div>
            <div class="col col-4" data-label="Time">13:00</div>
            <a routerLink="/">
                <div class="col col-5" data-label="Location">36.860307, 10.198929</div>
            </a>
            <div class="col col-6"><input type="checkbox" name="Resolved"></div>
        </li>

    </ul>
    <div class="btn"><button>save</button></div>

</div>